/TransportAnimals/settings.py
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/misc.xml
/.idea/TransportAnimals.iml
/.idea/vcs.xml
/.idea/dataSources.xml
