{% extends 'header.html' %}
{% block title %}Виды животных{% endblock %}
{% block content %}
    {% load static %}

    <div class="wrapper">
        <input type="hidden" value="{{ type_id }}" id="url-parameters">
        <div class="content">
            <div class="table-head">
                <h2>Типы</h2>
                <button id="add-btn" class="button button-submit">Добавить&nbsp;вид</button>
            </div>
            <div class="inner_content">
                <div class="container">
                    <table class="responsive-table">
                        <thead>
                        <tr>
                            <th>вид</th>
                            <th>характеристика</th>
                            <th class="show-on-small-screen">
                                <select class="menu-select" id="color-filter" name="colorGroup"
                                        onchange="if (this.value) window.location.href = this.value">
                                    <option value="0">тип</option>
                                    {% for type in animal_types %}
                                        <option value="{{ type.id }}"
                                                {% if type_id == type.id %}selected{% endif %}>{{ type.type_name }}</option>
                                    {% endfor %}
                                </select>
                            </th>

                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for spec in animal_species %}
                            <tr data-id="{{ spec.id }}" class="modal-row">
                                <td data-label="вид">{{ spec.specie_name }}</td>
                                <td data-label="характеристика">{{ spec.specie_attribute }}</td>
                                <td data-label="тип"
                                    data-id="{{ spec.animal_type.id }}">{{ spec.animal_type.type_name }}</td>
                                <td onclick="event.stopPropagation()">
                                    <a href="{% url 'animals:delete_specie' type_id spec.id %}">
                                        <button class="button button-danger button-sm">Удалить
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Модальное окно для добавления и редактирования -->
        <div class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <div id="modal-title" class="modal-title">Добавить вид</div>
                <form id="modal-form" method="post" action="{% url 'animals:add_animal_species' type_id %}">
                    {% csrf_token %}
                    <div class="modal-block">
                        <input type="hidden" id="spec-id" name="spec_id">
                        <label for="type">Вид:</label>
                        <input type="text" id="spec" name="spec" class="modal-input" required maxlength="140">
                    </div>
                    <div class="modal-block">
                        <label for="attribute">Характеристика:</label>
                        <input type="text" id="attribute" name="attribute" class="modal-input" required maxlength="140">
                    </div>
                    <div class="modal-block">
                        <label for="type">Тип:</label>
                        <select class="modal-select" id="type" name="type" required>
                            {% for type in animal_types %}
                                <option value="{{ type.id }}">{{ type.type_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="button-block">
                        <button type="button" id="cancel-btn" class="button button-cancel">Отмена</button>
                        <button type="submit" id="color-submit-btn" class="button button-submit">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <script type="module" src="/static/animals/specs.js"></script>
    <script type="module" src="/static/animals/main_modal.js"></script>

{% endblock %}